#!/usr/bin/make -f

export PYBUILD_NAME=yr_weather
export PYBUILD_SYSTEM=pyproject

%:
	dh $@ --with python3 --buildsystem pybuild

override_dh_auto_test:
	# Tests skipped during package build as they require installed dependencies
